body {
	width: 700px;
	max-width: 90%;
	margin: 0 auto;	
}

p {
	box-sizing: border-box;
	width: 400px;
	margin: 25px;
	float: ;
    font-size: 20px;
}

.navbar {
    background-color: #c0f1fa !important;
}

button {
	font-size: 40px;
	font-family: Arial;

	margin-top: 110px;
	padding: 10px, 20px;
	
	color: #363533;
	background: #e8cb3c;
	box-shadow: inset 0 0 0 0.5rem $prime
	
	border: solid 5px;
	border-radius: 5px; <!--Abrundungen der Rahmen erwünscht?-->
	}